*
!.gitignore
!README.md
!logo*.*
!conf
!conf/**
!early-init.el
!init.el
!themes
!themes/**
!site-lisp
!site-lisp/**

# Byte-compiled Emacs Lisp
*.elc

# Editor / OS artifacts
*~
.#*
\#*\#
*.swp
*.swo
*.orig
*.rej
.DS_Store
Thumbs.db
